<h1>New product</h1>

<%= render 'form' %>
<!-- render passes control to '_form.html.erb' thus after clicking on new product '_form.html.erb ' is shown -->
<!-- if i remove = sign from above command then form vl nt b display -->
<%= link_to 'Back', products_path %>
